<!DOCTYPE HTML>
<html>
<head>
    <title>Pequi Mecânico</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <span class="logo"><img src="images/icone.png" alt="" style="width:120px;height:160px"/></span>
        <a href="frontend.php?page=home">
            <h1>Pequi Mecânico</h1>
            <p>Núcleo de Robótica</p>
        </a>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul>

            <li><a href="frontend.php?page=about" class="active">Sobre</a></li>
            <li><a href="#equipes">Equipes</a></li>
            <li><a href="#pesquisa">Pesquisa</a></li>
            <li><a href="#parceiros">Parceiros</a></li>
            <li><a href="#footer">Contato</a></li>
            |
            <li><a href="#">Loja</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        #content#
    </div>

    <!-- Footer -->
    <footer id="footer">
        <section>
            <h2>Este é o Pequi</h2>
            <p>Tem um texto aqui bem massa</p>
            <ul class="actions">
                <li><a href="#" class="button">Sobre o pequi</a></li>
            </ul>
        </section>
        <section>
            <h2>Contato</h2>
            <dl class="alt">
                <dt>Endereço</dt>
                <dd>#endereco#</dd>
                <dt>E-mail</dt>
                <dd><a href="#">#email#</a></dd>
                <dt>Telefone</dt>
                <dd>#telefone#</dd>
            </dl>
            <ul class="icons">
                <!--<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>-->
                <li><a href="#facebook-link#" class="icon fa-facebook alt" target="_blank"><span class="label">Facebook</span></a></li>
                <li><a href="#instagram-link#" class="icon fa-instagram alt" target="_blank"><span class="label">Instagram</span></a></li>
                <li><a href="#github-link#" class="icon fa-github alt" target="_blank"><span class="label">GitHub</span></a></li>
            </ul>
        </section>
        <p class="copyright">#copyright#</p>
        <!-- Escrito e consolidado por Bryan Lincoln, em cima do tema Stellar do html5up.net -->
    </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>
