
<!-- Sobre -->
<section id="sobre" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Sobre o núcleo</h2>
            </header>
            <p>Somos a melhor equipe de robótica de todo o NEPE 1. Ninguém é melhor que a gente aqui.</p>
            <!--
            Mídia
            Parceiros
            Equipes/Membros
            História
            -->
            <ul class="actions">
                <li><a href="about" class="button">Mais</a></li>
            </ul>
        </div>
        <span class="image"><img src="images/pic01.jpg" alt="" /></span>
    </div>
</section>

<!-- Equipes -->
<section id="equipes" class="main special">
    <header class="major">
        <h2>Equipes</h2>
    </header>
    <ul class="features">
        <li>
            <span class="icon major style1 fa-code"></span>
            <h3>IEEE SEK</h3>
            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li>
        <li>
            <span class="icon major style3 fa-copy"></span>
            <h3>IEEE VSSS</h3>
            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li>
        <li>
            <span class="icon major style5 fa-diamond"></span>
            <h3>IEEE OPEN</h3>
            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li>

        <li>
            <span class="icon major style1 fa-code"></span>
            <h3>IEEE HUMANOID RACING</h3>
            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li>
        <li>
            <span class="icon major style3 fa-copy"></span>
            <h3>IEEE SIMULATION 2D</h3>
            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li>
    </ul>
    <footer class="major">
        <ul class="actions">
            <li><a href="generic.html" class="button">Conhecer o blog</a></li>
        </ul>
    </footer>
</section>

<!-- Pesquisa -->
<section id="pesquisa" class="main special">
    <header class="major">
        <h2>Pesquisa</h2>
        <p>Como o núcleo de robótica contribuiu para o avanço da ciência</p>
    </header>
    <ul class="statistics">
        <li class="style1">
            <span class="icon fa-code-fork"></span>
            <strong>#artigos#</strong> Artigos publicados
        </li>
        <li class="style2">
            <span class="icon fa-folder-open-o"></span>
            <strong>#referencias#</strong> Referências feitas
        </li>
        <!--<li class="style3">
            <span class="icon fa-signal"></span>
            <strong>2.048</strong> Tempus
        </li>
        <li class="style4">
            <span class="icon fa-laptop"></span>
            <strong>4.096</strong> Aliquam
        </li>
        <li class="style5">
            <span class="icon fa-diamond"></span>
            <strong>1.024</strong> Nullam
        </li>-->
    </ul>
    <p class="content">Cara a gente faz umas paradas muito loucas pela ciência. Sério.</p>
    <footer class="major">
        <ul class="actions">
            <li><a href="generic.html" class="button">Publicações</a></li>
        </ul>
    </footer>
</section>

<!-- Parceiros -->
<section id="parceiros" class="main special">
    <header class="major">
        <h2>Parceiros</h2>
    </header>
    <ul class="features">
        <li>
            <span class="icon major style1 fa-code"></span>
        </li>
        <li>
            <span class="icon major style3 fa-copy"></span>
        </li>
        <li>
            <span class="icon major style5 fa-diamond"></span>
        </li>
    </ul>
    <footer class="major">
        <ul class="actions">
            <li><a href="generic.html" class="button">Seja um parceiro</a></li>
        </ul>
    </footer>
</section>
